[package]
name = "retrom-client"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
description = "The Retrom video game library client"
rust-version = "1.80"

[[bin]]
name = "Retrom"
path = "src/main.rs"

[build-dependencies]
tauri-build = { workspace = true }

[dependencies]
tauri = { workspace = true }
tauri-cli = { version = "2.9.4" }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
tracing-opentelemetry = { workspace = true }
opentelemetry = { workspace = true }
retrom-telemetry = { workspace = true }
tokio = { workspace = true }
dotenvy = { workspace = true }
retrom-plugin-installer = { workspace = true }
retrom-plugin-launcher = { workspace = true }
retrom-plugin-service-client = { workspace = true }
retrom-plugin-steam = { workspace = true }
retrom-plugin-standalone = { workspace = true }
retrom-plugin-config = { workspace = true }
tauri-plugin-dialog = { workspace = true }
tauri-plugin-opener = { workspace = true }
tauri-plugin-shell = { workspace = true }
tauri-plugin-process = { workspace = true }
tauri-plugin-fs = { workspace = true }
tauri-plugin-system-info = { workspace = true }
tauri-plugin-single-instance = { workspace = true }
tauri-plugin-updater = { workspace = true }
pq-sys = { workspace = true }
openssl-sys = { workspace = true }
serde_json = { workspace = true }

[features]
# this feature is used for production builds or when `devPath` points to the filesystem and the built-in dev server is disabled.
# If you use cargo directly instead of tauri's cli you can use this feature flag to switch between tauri's `dev` and `build` modes.
# DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]

[target.'cfg(any(target_os = "macos", windows, target_os = "linux"))'.dependencies]
tauri-plugin-window-state = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["openssl-sys", "pq-sys", "tauri-build", "serde_json", "tauri-cli"]
