@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 263 91.4% 4.1%;
    --foreground: 263 20% 95%;

    --card: 264 71.4% 4.1%;
    --card-foreground: 260 20% 98%;

    --popover: 264 71.4% 4.1%;
    --popover-foreground: 260 20% 98%;

    --primary: 270 30.9% 38.9%;
    --primary-foreground: 270 20% 98%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 245 37.9% 7.9%;
    --muted-foreground: 245.9 10.6% 64.9%;

    --accent: 263.4 35% 23.4%;
    --accent-foreground: 263 20% 98%;

    --destructive: 350 100% 60.6%;
    --destructive-foreground: 340 30% 98%;
    --destructive-text: 350 100% 60.6%;

    --border: 235 37.9% 25.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;

    --radius: 6px;
  }
}

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
  }

  .ring {
    @apply ring-inset;
  }

  body {
    @apply bg-background text-foreground;
  }
}
