@import "tw-animate-css";

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-in-out;
  --animate-accordion-up: accordion-up 0.2s ease-in-out;
  --animate-translate-x: translate-x 1s linear infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes translate-x {
    from {
      transform: translateX(-300%);
    }
    to {
      transform: translateX(300%);
    }
  }
}
