[package]
name = "retrom-db"
version.workspace = true
resolver = "2"
description = "Database layer for Retrom"
authors.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true

[dependencies]
diesel = { workspace = true }
diesel_migrations = { workspace = true }
diesel-async = { workspace = true }
deadpool = { workspace = true }
postgresql_embedded = { optional = true, version = "^0.19.0", features = [
  "tokio",
] }
thiserror = { workspace = true }
tracing = { workspace = true }
pq-sys = { workspace = true }
openssl-sys = { workspace = true }
tokio = { workspace = true }

[features]
embedded = ["dep:postgresql_embedded"]

[package.metadata.cargo-machete]
ignored = ['openssl-sys', 'pq-sys']
