name: Build Client

on:
  workflow_call:
    inputs:
      bundle:
        type: boolean
        default: false
      sign:
        type: boolean
        default: true
      debug:
        type: boolean
        default: false
    secrets:
      NX_CLOUD_ACCESS_TOKEN:
        required: false
      UPTRACE_DSN:
        required: false
      OTEL_EXPORTER_OTLP_HEADERS:
        required: false
      TAURI_SIGNING_PRIVATE_KEY:
        required: false
      APPLE_CERTIFICATE:
        required: false
      APPLE_CERTIFICATE_PASSWORD:
        required: false
      APPLE_SIGNING_IDENTITY:
        required: false
      APPLE_ID:
        required: false
      APPLE_PASSWORD:
        required: false
      APPLE_TEAM_ID:
        required: false
      APPLE_API_KEY:
        required: false
      APPLE_API_ISSUER:
        required: false

  workflow_dispatch:
    inputs:
      bundle:
        type: boolean
        default: false
        description: Create native bundles (e.g. `.app` for MacOS, `.deb|.rpm|.appimage` for linux)
      sign:
        type: boolean
        default: true
        description: Sign any created bundles
      debug:
        type: boolean
        default: false
        description: Create debug builds

permissions:
  contents: read

env:
  PQ_LIB_STATIC: 1
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
  BUNDLE_ARG: ${{ !inputs.bundle && '--no-bundle' || '' }}
  SIGN_ARG: ${{ !inputs.sign && '--no-sign' || '' }}
  TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ""
  TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
  APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE }}
  APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
  APPLE_SIGNING_IDENTITY: ${{ secrets.APPLE_SIGNING_IDENTITY }}
  APPLE_ID: ${{ secrets.APPLE_ID }}
  APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
  APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
  APPLE_API_KEY: ${{ secrets.APPLE_API_KEY }}
  APPLE_API_ISSUER: ${{ secrets.APPLE_API_ISSUER }}

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - id: macos-aarch64
            os: macos-latest
            target: aarch64-apple-darwin
          - id: macos-x86_64
            os: macos-latest
            target: x86_64-apple-darwin
          - id: windows
            os: windows-latest
          - id: linux-x86_64
            os: ubuntu-24.04
          - id: linux-arm64
            os: ubuntu-24.04-arm

    runs-on: ${{ matrix.os }}
    env:
      # `target/{target/}debug|release`
      OUT_DIR: ${{ format('target/{0}{1}', matrix.target && format('{0}/', matrix.target) || '', inputs.debug && 'debug' || 'release') }}
      TARGET_ARG: ${{ format('{0}{1}', matrix.target && '--target ' || '', matrix.target) }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: install Rust stable
        id: rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.os == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: Cache rust build artifacts
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: false
          cache-all-crates: false
          cache-workspace-crates: true

      - name: install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: install dependencies (ubuntu 24 only)
        if: startsWith(matrix.os, 'ubuntu-24.04')
        run: |
          sudo apt-get update
          sudo apt-get install -y libpq-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf \
            libwebkit2gtk-4.1-0=2.44.0-2 \
            libwebkit2gtk-4.1-dev=2.44.0-2 \
            libjavascriptcoregtk-4.1-0=2.44.0-2 \
            libjavascriptcoregtk-4.1-dev=2.44.0-2 \
            gir1.2-javascriptcoregtk-4.1=2.44.0-2 \
            gir1.2-webkit2-4.1=2.44.0-2 \
            xdg-utils

      - name: install dependencies (windows only)
        if: matrix.os == 'windows-latest'
        run: |
          choco install -y postgresql17

      - name: install dependencies (macos m1 only)
        if: matrix.os == 'macos-latest' && matrix.target == 'aarch64-apple-darwin'
        run: |
          brew install postgresql@17

      - name: install dependencies (macos intel only)
        if: matrix.os == 'macos-latest' && matrix.target == 'x86_64-apple-darwin'
        run: |
          arch -x86_64 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          arch -x86_64 /usr/local/bin/brew install postgresql@17

      - name: install frontend dependencies
        run: pnpm install --frozen-lockfile

      - name: check NX cloud access
        id: nx-check
        continue-on-error: true
        run: pnpm nx noop

      - name: disable NX cloud
        if: steps.nx-check.outcome != 'success'
        shell: bash
        run: echo "NX_NO_CLOUD=true" >> "$GITHUB_ENV"

      - name: install tauri cli
        run: cargo install tauri-cli --version "^2.0.0" --locked

      - name: build client
        env:
          CONFIGURATION: ${{ inputs.debug && 'debug' || 'release' }}
        run: |
          pnpm nx build retrom-client --args="$BUNDLE_ARG $TARGET_ARG $SIGN_ARG" --configuration="$CONFIGURATION"

      - name: upload build bundle
        uses: actions/upload-artifact@v6
        if: ${{ inputs.bundle }}
        env:
          BINARY_FILE: ${{ matrix.os == 'windows-latest' && 'Retrom.exe' || 'Retrom' }}
        with:
          name: ${{ matrix.id }}-client
          if-no-files-found: error
          path: |
            ${{ env.OUT_DIR }}/bundle/**
            ${{ env.OUT_DIR }}/${{ env.BINARY_FILE }}
