on:
  workflow_call:
    inputs:
      draft:
        type: boolean
        default: false
      dry-run:
        type: boolean
        default: true
  workflow_dispatch:
    inputs:
      draft:
        type: boolean
        description: Create a draft release
        default: false
      dry-run:
        type: boolean
        description: Enable dry run mode
        default: true

name: Create Release

env:
  DRAFT_RELEASE: ${{ inputs.draft && 'true' || '' }}
  DRY_RUN_ARG: ${{ format('--dry-run {0}', inputs.dry-run && 'true' || 'false') }}

permissions:
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests
  id-token: write # to enable use of OIDC for trusted publishing and npm provenance

jobs:
  build-clients:
    name: Build Client
    uses: jmberesford/retrom/.github/workflows/build-client.yml@main
    secrets: inherit
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, windows-latest]
        include:
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-apple-darwin
            os: macos-latest
    with:
      os: ${{ matrix.os }}
      target: ${{ matrix.target }}
      bundle: true

  release:
    name: Release
    needs: build-clients
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GH_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          pnpm exec semantic-release --ci=true \
            "$DRY_RUN_ARG"
