on:
  workflow_call:
    inputs:
      draft:
        type: boolean
        default: false
      dry-run:
        type: boolean
        default: true
  workflow_dispatch:
    inputs:
      draft:
        type: boolean
        description: Create a draft release
        default: false
      dry-run:
        type: boolean
        description: Enable dry run mode
        default: true

name: Create Release

env:
  DRAFT_RELEASE: ${{ inputs.draft && 'true' || '' }}
  DRY_RUN_ARG: ${{ format('--dry-run {0}', inputs.dry-run && 'true' || 'false') }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GH_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          pnpm exec semantic-release --ci=true \
            "$DRY_RUN_ARG"
