on:
  workflow_call:
    secrets:
      NX_CLOUD_ACCESS_TOKEN:
        required: false
  workflow_dispatch:

name: Lint

permissions:
  contents: read

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

defaults:
  run:
    shell: bash

jobs:
  typescript:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: install frontend dependencies
        run: pnpm install --frozen-lockfile

      - name: check NX cloud access
        id: nx-check
        continue-on-error: true
        run: pnpm nx noop

      - name: disable NX cloud
        if: steps.nx-check.outcome != 'success'
        run: echo "NX_NO_CLOUD=true" >> "$GITHUB_ENV"

      - name: Run ESLint
        run: pnpm nx run-many -t eslint:lint typecheck

  cargo:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: install frontend dependencies
        run: pnpm install --frozen-lockfile

      - name: install Rust stable
        id: rust
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (ubuntu only)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y libpq-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf \
            libwebkit2gtk-4.1-0=2.44.0-2 \
            libwebkit2gtk-4.1-dev=2.44.0-2 \
            libjavascriptcoregtk-4.1-0=2.44.0-2 \
            libjavascriptcoregtk-4.1-dev=2.44.0-2 \
            gir1.2-javascriptcoregtk-4.1=2.44.0-2 \
            gir1.2-webkit2-4.1=2.44.0-2 \
            xdg-utils

      - name: install dependencies (windows only)
        if: ${{ matrix.os == 'windows-latest' }}
        shell: pwsh
        run: |
          choco install -y postgresql17

      - name: install dependencies (macos only)
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          brew install postgresql@17

      - name: Setup rustfmt
        run: rustup component add rustfmt

      - name: Setup clippy
        run: rustup component add clippy

      - uses: Swatinem/rust-cache@v2

      - name: check NX cloud access
        id: nx-check
        continue-on-error: true
        run: pnpm nx noop

      - name: disable NX cloud
        if: steps.nx-check.outcome != 'success'
        run: echo "NX_NO_CLOUD=true" >> "$GITHUB_ENV"

      - name: Check for unused cargo dependencies
        uses: bnjbvr/cargo-machete@main
        # Action fails on Windows, uses unix paths unconditionally
        # https://github.com/bnjbvr/cargo-machete/blob/cb0995971182a3babbea3f086bf306d5509cac47/action/entrypoint.sh#L25
        if: ${{ matrix.os != 'windows-latest' }}
        with:
          args: "--with-metadata"

      # https://github.com/rust-openssl/rust-openssl/issues/2149#issuecomment-2014064057
      - name: Set Perl environment variables
        if: ${{ matrix.os == 'windows-latest' }}
        shell: pwsh
        run: |
          echo "PERL=$((where.exe perl)[0])" | Out-File -FilePath $env:GITHUB_ENV -Append -Encoding utf8
          echo "OPENSSL_SRC_PERL=$((where.exe perl)[0])" | Out-File -FilePath $env:GITHUB_ENV -Append -Encoding utf8

      - name: Run Clippy
        run: pnpm nx run-many -t cargo:lint
