name: Publish Images

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Optional tag for the image"
        type: string
        required: false
      latest:
        description: Tag this image as `latest`?
        type: boolean
        default: false
  workflow_call:
    inputs:
      tag:
        type: string
        required: true
      latest:
        type: boolean
        default: false

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: jmberesford/retrom-service
  PLATFORM_PAIR: ""

jobs:
  build-images:
    env:
      IS_LATEST: ${{ inputs.latest }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runner-os: ubuntu-24.04
          - platform: linux/arm64
            runner-os: ubuntu-24.04-arm

    runs-on: ${{ matrix.runner-os }}
    outputs:
      metadata-json: ${{ steps.meta.outputs.json }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> "$GITHUB_ENV"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=${{ env.IS_LATEST }}
          tags: |
            type=raw,value=${{ inputs.tag }},enable=${{ inputs.tag && true || false }},priority=950
            type=semver,pattern={{version}},priority=900
            type=ref,event=tag,enable=true,priority=700
            type=ref,event=branch,enable=true,priority=600

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build By Digest
        id: build
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: .
          platforms: ${{ matrix.platform }}
          file: docker/service.Dockerfile
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,name=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }},push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge-digests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      DOCKER_METADATA_OUTPUT_JSON: ${{ needs.build-images.outputs.metadata-json }}
      VERSION: ${{ fromJSON(needs.build-images.outputs.metadata-json).labels['org.opencontainers.image.version'] }}
    needs:
      - build-images

    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
