name: update upstream APIs

on:
  workflow_dispatch:

  schedule:
    - cron: "0 2 * * *"

jobs:
  update-igdb-api:
    name: Update IGDB API
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.RELEASE_PLZ_GH_TOKEN }}
      BRANCH: update-igdb-api
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.RELEASE_PLZ_GH_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Download IGDB protos
        id: download
        run: |
          cd packages/codegen/protos
          rm igdbapi.proto
          wget https://api.igdb.com/v4/igdbapi.proto
          sed -i 's/package proto/package igdb/' igdbapi.proto
          npm i -g @bufbuild/buf
          npx buf format -w
          if ! git diff --quiet; then echo "updated=true" >> "$GITHUB_OUTPUT"; fi

      - name: Create/Update Pull Request
        if: ${{ steps.download.outputs.updated }}
        env:
          REPO: ${{ github.repository }}
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com"
          git add packages/codegen/protos/igdbapi.proto
          git commit -m "chore: update igdb protos"
          gh repo set-default $REPO

          export EXISTING=$(gh pr list \
            --limit 1 \
            --json number \
            --head update-igdb-api \
            --base main \
            --jq ".[0].number")

          git push origin HEAD:$BRANCH -uf

          if [[ -z $EXISTING ]]; then
            echo "No existing pull request found, creating..."
            gh pr create \
              --head "$BRANCH" \
              --base main \
              --title "chore: update igdb api" \
              --body "New IGDB API proto definitions were found"
          else
            echo "Pull request already exists"
          fi
