name: Verify

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
    concurrency:
      group: "lint-${{ github.ref }}"
      cancel-in-progress: true
    secrets: inherit

  format:
    uses: ./.github/workflows/format.yml
    concurrency:
      group: "format-${{ github.ref }}"
      cancel-in-progress: true
    secrets: inherit

  build-client:
    uses: ./.github/workflows/build-client.yml
    concurrency:
      group: "build-client-${{ github.ref }}"
      cancel-in-progress: true
    secrets: inherit
    with:
      bundle: false
