name: Verify

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
    secrets: inherit

  format:
    uses: ./.github/workflows/format.yml
    secrets: inherit

  build:
    uses: ./.github/workflows/build-client.yml
    secrets: inherit
    with:
      bundle: false
